/*
#search-term,
#search-results {
	height: 20rem;
	width: 70rem;
	margin: 0 auto;
};

#search-term {
	height: 10rem;
};

#search-term input {
	height: 2rem;
	width: 5rem;
	margin: 0 auto
}


#search-term button {
	height: 2rem;
	width: 3rem;
	font-size: 2rem;
};

#search-results {

}
*/